<html lang-="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>CloudCanvas</h1>
        <h4>course.course_name</h4>
    </body>
</html>