<html lang-="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <nav>
            <a class="nav-button" style="background-color:#ffb68e" href="/">
                <img src="/images/file-icon.png" alt="file-icon">
                <p class="label-small">Your Files</p>
            </a>
            <a class="nav-button">
                <img src="/images/settings-icon.png" alt="settings-icon">
                <p class="label-small">Settings</p>
            </a>
        </nav>
        <h1 class="heading">Courses</h1>
        <section class="documents-list">
            <% for (let i = 0; i < courses.length; i++) { %>
                <a class='document' href=<%= 'course/' + courses[i]._id %>>
                    <img src="/images/file-orange.png">
                    <h4><%= courses[i].course_name %></h4>
                </a>
            <% } %>
        </section>
    </body>
</html>