<html lang-="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <nav>
            <a class="nav-button" style="background-color:#ffb68e" href="/">
                <img src="/images/file-icon.png" alt="file-icon">
                <p class="label-small">Your Files</p>
            </a>
            <a class="nav-button">
                <img src="/images/settings-icon.png" alt="settings-icon">
                <p class="label-small">Settings</p>
            </a>
        </nav>
        <div class="top-bar">
            <p class="heading">CloudCanvas</p>
        </div>
        <section class="documents-list">
            <p class="heading" style="margin-bottom: 16px;">Courses</p>
            <div class="flex-row">
                <% for (let i = 0; i < courses.length; i++) { %>
                    <a class='document' href=<%= 'course/' + courses[i]._id %>>
                        <img src="/images/file-orange.png">
                        <p class="label-small center"><%= courses[i].course_name %></p>
                    </a>
                <% } %>
            </div>
        </section>
    </body>
</html>